<div *ngIf="exchange && user">
    <h1>{{exchange.label}}</h1>
    <p>{{exchange.description}}</p>

    <md-card *ngFor="let message of exchange.messages">
        <md-card-header>
            <md-card-title>{{message.from}}</md-card-title>
        </md-card-header>
        <md-card-content *ngIf="!message.hidden">
            {{message.message}}
        </md-card-content>
        <md-card-content *ngIf="message.hidden" class="obscured">
            Message hidden
        </md-card-content>
        <md-card-actions>
            <button md-button>Listen</button>
            <button md-button *ngIf="message.hidden" (click)="message.hidden = !message.hidden">Reveal</button>
        </md-card-actions>
    </md-card>
</div>
