#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

md-card {
    margin-bottom: 10px;
}

h1 {
  color: #369;
  font-size: 250%;
}

body {
    font-family: Roboto, Helvetica, sans-serif
}
