<h1>Welcome to Hermes</h1>
<div>
    <md-card *ngFor="let exchange of exchanges">
        <md-card-header>
            <md-card-title>{{exchange.label}}</md-card-title>
        </md-card-header>
        <md-card-actions>
            <button [routerLink]="['/exchange', exchange.id]" md-button>Start</button>
        </md-card-actions>
    </md-card>
</div>
